@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900');
// font-family: 'Noto Sans KR', sans-serif;


// COMMON
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}


// bootstrap Custom
.m-subheader .m-subheader__title {
    font-family: 'Noto Sans KR', sans-serif;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}
.m-portlet__foot {
    text-align:center;
    button {
        margin:0 5px;
    }
}
select.form-control {
    padding:0 1.15rem;
}

.col_max_mid {
    max-width:1200px;
}

.m-aside-menu .m-menu__nav>.m-menu__section .m-menu__section-text {
    font-size:1.0rem;
}
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, 
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    font-size:1.2rem;
}

.modal-dialog {
    max-width:900px;
}


.m-portlet__head-text {
    .opt {
        position: absolute;
        top:0;
        right:35px;
        height:66px;
        line-height:66px;
        display:block;
        i {
            position: absolute;
            top:0px;
            left:-15px;
            display:inline-block;
            font-size:14px;
            margin:4px 8px 0 0;
        }
        em {
            font-style:normal;
            font-size:12px;
            font-weight:400;
            color:#7b7e8a;
        }
    }
}

.autoComplete {
    position: relative;
    width:100%;
    &.add_select {
        font-size:0;
        .control_search_select {
            display:inline-block;
            width:39%;
            vertical-align:top;
        }
        .auto_input {
            width:59%;
            margin-left:2%;
        }
        .result {
            right:0;
            width:59%;
        }
    }
    .search_icon {
        position: absolute;
        top:12px;
        right:12px;
    }
    .auto_input {
        display:inline-block;
        position: relative;
        width:250px;
        .m-input {
            padding-right:35px;
        }
    }
    .text {
        margin-left:15px;
        display:inline-block;
        i {
            position: relative;
            top:2px;
        }
    }
    .result {
        position: absolute;
        top:39px;
        width:250px;
        min-height:50px;
        border: 1px solid #ced4da;
        background-color:#fff;
        z-index:1000;
        .list {
            padding:10px;
            list-style-type: none;
            margin:0;
            line-height:24px;
            a {
                font-size:14px;
                color:#333;
            }
        }
    }
}


.nav_tab_link {
    width:100%;
    padding:0;
    font-size:0;
    border:solid 1px #dee2e6;
    .tab_item {
        display:inline-block;
        vertical-align:middle;
        // height:45px;
        // line-height:45px;
        text-align:center;
        box-sizing:border-box;
        background-color:#fff;
        padding:0;
        a {
            display:block;
            font-size:16px;
            font-weight:400;
            padding:12px 0;
            color:#575962;
            text-decoration:none;
        }
        &.active {
            background-color:#5867dd;
            border-color:#5867dd;
            a {
                color:#fff;
            }
        }
    }
}

.inp_inline_wrap {
    display:inline-block;
    vertical-align:top;
    font-size:0;
    .inp_label {
        display:inline-block;
        vertical-align:middle;
        line-height:40px;
        margin-right:10px;
    }
    .inp_inline {
        display:inline-block;
        vertical-align:top;
        box-sizing:border-box;
        margin-left:5px;
        &.x2 {
            width:40%;
            margin-left:2%;
        }
        &.x3 {
            width:32%;
            margin-left:2%;
        }
        &.x4 {
            width:22%;
            margin-left:2%;
        }
        &.x5 {
            width:20%;
            margin-left:2%;
        }
        &.x6 {
            width:11%;
            margin-left:1%;
        }
        &.x7 {
            width:5%;
            margin-left:1%;
            .txt {
                margin:0;
            }
        }
        &.txt {
            font-size:12px;
            font-weight:400;
        }
        &:first-child {
            margin-left:0;
        }
        &.ma_sm {
            margin-left:1% !important;
        }
        &.ma_lm {
            margin-left:20px !important;
        }
        &.ma_sm {
            margin-left:15px !important;
        }
        .txt {
            display:block;
            font-size:14px;
            vertical-align:middle;
            font-weight:bold;
            text-align:center;
            line-height:40px;
            margin:0 5px;
        }
    }
    .m-radio-inline, .m-checkbox-inline {
        margin-top:10px !important;
    }
}

.form_search {
    border:1px solid #ebedf2;
    border-top:solid 1px #000;
    padding:30px 20px;
    .inp_inline {
        vertical-align:top;
        .form-group {
            padding:0;
        }
    }
    .inp_inline_wrap {
        margin:0 20px 20px 0;
        &:last-child {
            margin:0;
        }
        // .inp_label {
        //     display:inline-block;
        //     vertical-align:middle;
        //     line-height:40px;
        //     margin-right:10px;
        // }
        select {
            min-width:100px;
        }
    }
}
.search_btn {
    border-top:1px solid #ebedf2;
    text-align:right;
    padding-top:20px;
    .btn_list {
        display:inline-block;
        vertical-align:top;
        margin:0 5px;
    }
}

.form_wrap {
    
}
.form_fieldset {
    margin-bottom:30px;
    &>.row:first-child {
        border-top:1px solid #000;
    }
    .form_item {
        border-bottom:1px solid #ebedf2;
        .title {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight:500;
            font-size:14px;
            line-height:41px;
            background-color:#f7f8fa;
            padding-top:10px;
            padding-bottom:10px;
        }
        .cont {
            position: relative;
            font-family: 'Noto Sans KR', sans-serif;
            font-size:14px;
            line-height:41px;
            padding-top:10px;
            padding-bottom:10px;
            .input_unit {
                width:80%;
            }
            .unit {
                position: absolute;
                top:0;
                right:15%;
                width:5%;
                line-height:41px;
                padding-top:10px;
            }
            &.form_radio {
                padding-top:0;
                padding-bottom:0;
                label {
                    display:block;
                    line-height:19px;
                    margin:7px 0 0;
                } 
                &.radio_inline {
                    label {
                        display:inline-block;
                        line-height:19px;
                        margin:20px 5px 0;
                    } 
                    .m-input {
                        display:inline-block;
                        width:50%;
                        margin-left:10px;
                    }
                }
            }
            .form_url {
                .first {
                    display:inline-block;
                    width:50px;
                }
                .last {
                    display:inline-block;
                    width:100px;
                    margin-left:5px;
                }
                input {
                    display:inline-block;
                    width:50%;
                }
            }
        }
    }

    .form_legend {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:500;
        font-size:16px;
        line-height:41px;
        padding:0;
        margin-left:-10px;
        & + .row {
            border-top:solid 1px #000;
        }
    }
    .btn_opt {
        margin-top:15px;
        margin-right:-15px;
        margin-left:25px;
        float:right;
    }
}

.dot_red {
    color:#f4516c !important;
}

hr {
    &.hide {
        border:0;
        margin:40px 0;
    }
}

.table_layout {
    overflow: auto;
}
.table_default {
    table-layout: fixed;
    width:100%;
    min-width:640px;
    .table_date { width:20%; }
    .table_cont { width:80%; }
    .table_use { width:20%; }
    .table_name { width:30%; }
    .table_div { width:10%; }
    thead th {
        background-color:#f7f8fa;
        border-bottom:1px solid #ebedf2;
        text-align:center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:500;
        font-size:16px;
        padding:15px 20px;
    }
    tbody th {
        text-align:center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:500;
        font-size:14px;
        border-bottom:1px solid #ebedf2;
    }
    tr {
        &:hover {
            td {
                background:#f7f8fa;
            }
        }
    }
    td {
        text-align:center;
        border-bottom:1px solid #ebedf2;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:400;
        font-size:14px;
        padding:15px 20px;
        .m-radio {
            margin:0;
        }
        
    }
    &.v_top {
        td {
            vertical-align:top;
        }
    }
    &.t_btn {
        td {
            position: relative;
            padding-bottom:30px;
            .name_list {
                margin-top:50px;
            }
            .btn {
                position: absolute;
                top:25px;
                left:50%;
                margin-left:-55px;
            }
        }
    }
    &.menu_select {
        label {
            width:19px;
            height:19px;
            padding:0;
            margin:0;
        }
        td {
            text-align:left;
            &.cate_2 {
                text-indent:25px;
            }
        }
    }
}


.text_cut {
    display:block;
    width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file_list {
    margin:0;
    padding:20px 0 40px;
    li {
        margin-top:5px;
        text-align:left;
        list-style-type:none;
        &:first-child {
            margin:0;
        }
        .btn_del {
            display:inline-block;
            font-size:0;
            margin-left:10px;
            border:solid 1px #f4516c !important;
            text-decoration:none;
            i {
                display:block;
                font-size:12px;
            }
        }
    }
}

.user_list {
    margin:0;
    li {
        margin-top:5px;
        text-align:left;
        list-style-type:none;
        &:before {
            content:"-";
            margin-right:5px;
            font-weight:bold;
        }
        &:first-child {
            margin:0;
        }
        .btn_del {
            display:inline-block;
            font-size:0;
            margin-left:5px;
            border:solid 1px #f4516c !important;
            text-decoration:none;
            i {
                display:block;
                font-size:12px;
            }
        }
    }
}

.name_list {
    margin:0;
    padding:0;
    li {
        list-style-type: none;
        margin:0;
        padding:0;
        line-height:22px;
        padding:10px 0;
        margin:0 15px;
        border-top:dashed 1px #a3a3a3;
        &:first-child {
            margin-top:0;
            border-top:0;
        }
    }
    .position, .email, .tel {
        display:block;
        color:#a3a3a3;
        font-size:12px;
    }
    .name {
        display:block;
        color:#000;
        font-size:14px;
    }
}


.table_tab {
    padding:0;
    margin:0;
    // border-bottom:solid 1px #ebedf2;
    overflow: hidden;
    li {
        border:1px solid #ebedf2;
        // border-bottom:0;
        list-style-type: none;
        line-height:35px;
        margin-right:5px;
        float:left;
        a {
            display:block;
            text-decoration:none;
            color:#575962;
            padding:0 25px;
        }
        &.active {
            background-color:#5867dd;
            a {
                color:#fff;
            }
        }
    }
}

.table_top {
    position: relative;
    margin-top:20px !important;
}
.controller {
    position: absolute;
    top:-10px;
    right:0;
    .form-control {
        height:31px;
        line-height:31px;
    }
}

.table_middle {
    th, td {
        vertical-align:middle;
        text-align:center;
        // padding:5px 0;
    }
}

.table_scroll_x, 
.table_scroll_y,
.table_scroll_xy,
.table_wrap {
    tbody {
        tr:hover th,
        tr:hover td {
            background-color:#f4f5f8;
        }
    }
}

.table_scroll_x {
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    .table {
       table-layout: fixed;
       border-bottom:solid 1px #afafaf;
       margin:0;
       th {
           width:100px;
       }
    }
}
.table_scroll_y {
    .table {
        border-collapse:collapse; 
        width:100%;
        border-bottom:solid 1px #afafaf;
        margin:0;
        th, td {
            width:100px;
        }
        thead {
            float:left; 
            width:100%;
            padding-right:20px;
            border-top: 1px solid #f4f5f8;
            border-bottom: 2px solid #f4f5f8;
            th {
                border:0;
            }
        }
        tbody {
            overflow-y:auto; 
            overflow-x:hidden; 
            float:left; 
            width:100%;
            height:300px;
        }
        tr {
            display:table; 
            width:100%;
        }
    }
}

.table_scroll_xy {
    width:100%;
    height:300px;
    overflow: auto;
    .table {
       table-layout: fixed;
       border-bottom:solid 1px #afafaf;
       margin:0;
       th {
           width:100px;
       }
    }
}

.pager_center {
    text-align:center;
    margin-bottom:60px;
}



.table_x2 {
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;

    table {
        border-bottom:solid 1px #afafaf;
    }
    &.x1500 {
        table {
            width:1500px;
            table-layout: fixed;
        }
    }
    td, th {
        text-align:center;
        padding:5px 0;
    }
}

.modal_content {
    .scroll {
        table {
            thead {
                th {
                    border:0;
                }
                background-color:#f7f8fa;
                border-top: 1px solid #ebedf2;
                border-bottom: 1px solid #ebedf2;
            }
            td {
                border-left:0;
                border-right:0;
            }
        }
    }
}

.table_wrap {
    width:100%;    
    overflow-x: auto;
    overflow-y: hidden;
    font-size:13px;
    &.scroll {
        table {
            border-collapse:collapse; 
            width:100%;
            border-bottom:solid 1px #afafaf;
            margin:0;
            th {
                color:#212529;
                font-weight:500;
            }
            th, td {
                width:100px;
                font-size:13px;

            }
            thead {
                float:left; 
                width:100%;
                padding-right:20px;
            }
            tbody {
                overflow-y:scroll; 
                overflow-x:hidden; 
                float:left; 
                // width:calc(100% - 20px);
                width:100%;
                height:300px;
            }
            tr {
                display:table; 
                width:100%;
                th, td {
                    width:20%;
                }
            }
        }
    }
    table {
        width:100%;    
        overflow-x: auto;
        // overflow-y: hidden;
    }
    .m-checkbox {
        width:18px;
        height:18px;
        margin:0;
        padding:0;
        span {
            top:2px;
            background-color:#fff;
        }
    }
    .caption {
        margin-bottom:10px;
        em {
            color:#f4516c;
            font-style:normal;
            font-weight:bold;
        }
        .txt {
            display:inline-block;
            margin-right:12px;
            vertical-align:middle;
        }
        button {
            i {
                display:inline-block;
                vertical-align:middle;
                margin:-4px 4px 0 0;
            }
        }
    }
    td, th {
        text-align:center;
        padding:10px 0;
    }
    thead {
        th {
            background-color:#f7f8fa;
            border:1px solid #ebedf2;
            min-width:50px;
        }
    }
    tbody {
        td {
            padding:10px 0;
            border-bottom:1px solid #ebedf2;
            em {
                color:#36a3f7;
                font-style:normal;
            }
        }
    }
    &.box {
        td {
            border:1px solid #ebedf2;
            border-top:0;
            em {
                color:#f4516c;
                font-style:normal;
            }
        }
    }
    .td_list {
        padding:0;
        ul {
            list-style-type:none;
            margin:0;
            padding:0;
        }
        li {
            border-top:1px solid #ebedf2;
            line-height:40px;
            &:first-child {
                border-top:0;    
            }
        }
    }
}

// Modal
.modal_default {
    width:100%;
    background-color:#fff;
    padding:0 30px;
    .modal_head {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:68px;
        background-color:#fff;
        .title {
            font-size:24px;
            line-height:68px;
            text-align:center;
        }
        .close {
            position: absolute;
            top:10px;
            right:15px;
        }
    }
    .scroll_content {
        height:400px;
        border-top:solid 1px #000;
        padding:30px 0;
        line-height:1.8em;
        overflow-y: auto;
        overflow-x:hidden;
        
    }
    .modal_content {
        padding-top:68px;
    }
    &.size_fix {
        position: absolute;
        top:50%;
        left:50%;
        width:600px;
        height:580px;
        margin:-290px 0 0 -300px;
        border:solid 1px #d6d6d6;
        .scroll_content {
            width:538px;
        }
        .modal_foot {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
        }
    }
}

.modal_foot {
    height:80px;
    border-top:solid 1px #000;
    .modal_btn {
        text-align:center;
        padding:20px 0;
        .btn {
            margin:0 2px;
        }
    }
}

.msg_form {
    padding:0 0 30px 0;
    .msg_title {
        font-size:14px;
        font-weight:400;
        padding:20px;
        text-align:center;
    }
    .btn_form {
        overflow: hidden;
        .m-input {
            width:calc(100% - 100px);
            float:left;
        }
        .btn {
            width:90px;
            margin-left:10px;
            float:left;
        }
    }
    .result {
        list-style-type: none;
        padding:30px;
        li {
            a {
                display:block;
                color:#000;
                line-height:26px;
            }
            
        }
    }
}

.airport_info {
    .info {
        margin:20px 0 20px 15px;
        .tit {
            display:inline-block;
            font-size:14px;
            font-weight:400;
            margin-right:10px;
        }
        .cont {
            display:inline-block;
            margin:0;
            strong {
                display:inline-block;
                background:#36a3f7;
                border-radius:4px;
                padding:2px 6px;
                color:#fff;
                font-size:14px;
                font-weight:400;
                margin-right:10px;
                &.end {
                    background-color:#f4516c;
                }
            }
            .txt {
                font-size:14px;
                font-weight:400;
                margin-right:15px;
            }
            .la {
                position: relative;
                top:2px;
                font-weight:bold;
                font-size:20px;
                margin-right:15px;
            }
        }
    }
}

.modal_board {
    .modal_head {
        background-color:#5867dd;
        color:#fff;
        padding:15px;
        .title {
            font-size:18px;
            margin:0;
        }
        .close {
            position: absolute;
            top:14px;
            right:15px;
            color:#fff !important;
            line-height: 16px;
            i {
                font-size:22px;
            }
        }
    }
    .modal_content {
        padding:15px;
    }
    &.size_fix {
        position: absolute;
        top:50%;
        left:50%;
        width:600px;
        // height:580px;
        margin:-290px 0 0 -300px;
        border:solid 1px #d6d6d6;
        .scroll_content {
            width:538px;
            // height:400px;
        }
        .modal_foot {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
        }
    }
}
.modal_search {
    padding-bottom:15px;
    text-align:right;
    .inp_inline_wrap {
        width:100%;
        .label {
            font-size:14px;
            font-weight:400;
            line-height:40px;
        }
    }
}

.add_text {
    margin-bottom:20px;
    line-height:22px;
    ul {
        list-style-type: none;
        padding: 0;
        .tit {
            font-weight:500;
        }
        .on {
            font-weight:500;
            color:#f4516c !important;
        }
        span {
            font-weight: 400;
            color: #7b7e8a;
        }
    }
}

.form-group {
    .caption {
        font-weight:400;
        line-height:40px;
        margin-left:15px;
        color:#8c8c8c;
    }
}

.m-portlet__body {
    .text {
        line-height:40px;
    }
}

.invoice {
    .caption {
        margin-top:15px;
    }
    // .stamp {
    //     width:200px;
    //     margin:40px auto;
    //     img {
    //         width:100%;
    //     }
    // }
    .notice {
        border-top:1px solid #ebedf2;
        strong {
            display:block;
            margin:15px 0 5px;
        }
    }
}

.invoice_top {
    position: absolute;
    top:68px;
    left:15px;
    width:300px;
    overflow: hidden;
    select {
        width:120px;
        height:28px;
        padding:0 5px;
        margin-right:10px;
        border:solid 1px #666;
        float:left;
    }
}

.invoice_table {
    .m-input {
        width:300px;
    }
}

.invoice_info_table {
    margin-top:30px;
    .head {
        text-align:center;
        font-weight:500 !important;
        color:#000;
    }
    &.turvis {
        margin:0;
        th, td {
            text-align:center;
            min-width:125px;
            height:37px;
            input {
                text-align:center;
                &.small {
                    width:100px !important;
                    margin:0 auto;
                }
            }
        }
    }
}

.stamp {
    width:100%;
    margin:50px auto 40px;
    line-height:28px;
    font-weight:bold;
    text-align:center;
    .stamp_txt {
        display:inline-block;
        font-size:20px;
        font-weight:normal;
        vertical-align:middle;
    }
    .stamp_img {
        display:inline-block;
        margin-left:20px;
        vertical-align:middle;
    }
}

.form_footer {
    border-top:1px solid #ebedf2;
    padding:20px 0 10px;
}

.invoice_tourvis {
    position: relative;
    min-width:650px;
    .txt_left {
        text-align:left;
        margin:5px 10px;
    }
    
    &>.txt {
        margin:10px 0;
    }
    .sub_title {
        margin:20px 0 40px;
        text-align:center;
        font-size:32px;
        letter-spacing:0.2em;
    }
    .invoice_tourvis_head {
        margin-bottom:30px;
    }
    .invoice_tourvis_info {
        &.en {
            .info_form_b {
                width:450px;
                margin-left:calc(100% - 450px);
                th {
                    width:180px;
                }
                td {
                    text-align:left;
                }
            }
        }
        .txt {
            text-align:center;
        }
        .info_form_a {
            width:300px;
            margin-left:calc(100% - 300px);
            overflow: hidden;
        }
        .info_form_b {
            width:450px;
            margin-left:calc(100% - 450px);
            .tit {
                width:100% !important;
                text-align:center;
                float:none;
            }
            th,td {
                height:32px;
                padding:2px 10px;
            }
        }
        .info_form_c {
            position: absolute;
            top:180px;
            left:15px;
            width:230px;
        }
        dt {
            width:75px;
            line-height:25px;
            font-weight:500;
            margin-bottom:10px;
            float:left;
        }
        dd {
            width:225px;
            line-height:25px;
            margin:0;
            margin-bottom:10px;
            float:left;
            input {
                padding:0 8px;
                height:25px;
            }
            .input-group-text {
                padding-left:5px;
                padding-right:5px;
            }
        }
    }
}

.form_table {
    width:100%;
    .unit {
        th {
            font-weight:500 !important;
            color:#000;
        }
        .label {
            display:inline-block;
            width:40px;
        }
        input {
            display:inline-block;
            width:260px;
            text-align:right;
        }
    }
    .total {
        th {
            background-color:#f4516c;
            color:#fff;
        }
        td {
           .m-input {
               text-align:right;
               font-weight:600;
               color:#f4516c;
           }
           background-color: #f7f8fa;
        }
    }
    .form_tit {
        width:120px;
        background-color:#f7f8fa;
        border:1px solid #ebedf2;
        box-sizing:border-box;
        padding:5px 10px;
        font-weight:400;
        font-size:14px;
        vertical-align:middle;
        color:#575962;
        .m-radio {
            span {
                background-color:#fff;
            }
        }
        .add {
            display:block;
            font-size:12px;
            margin-top:5px;
        }
    }
    .form_cont {
        border:1px solid #ebedf2;
        box-sizing:border-box;
        padding:5px 10px;
        font-weight:400;
        font-size:14px;
        line-height:26px;
    }
    
    .m-input, .custom-file-input, .custom-file-label, .custom-file {
        height:26px;
        line-height:26px;
        font-size:12px;
        padding:0 10px;
    }
    .custom-file-label::after {
        height:24px;
        line-height:24px;
        padding:0 10px;
    }
    .m-radio, .m-checkbox {
        margin:0;
        padding-left:25px;
    }
}

.form_cont_row {
    display:block;
    .inp_inline_wrap {
        display:block;
        position: relative;
        top:-2px;
    }
    .inp_inline {
        vertical-align:middle;
        margin-right:20px;
        margin-top:5px;
        margin-left:0;
        line-height:20px;
    }
    &:first-child {
        margin-left:0;
    }
    .inp_inline {
        .m-input {
            display:inline-block;
            width:100px;
            margin-left:10px;
        }
    }
}

.form_row {
    display:block;
    &.row {
        margin:5px 0;
    }
  
    .inp_inline_wrap {
        display:block;
    }
    .m-radio, .m-checkbox {
        span {
            top:4px;
        }
    }
}

.form_btn {
    position: relative;
    .form_row {
        padding-right:70px;
    }
    .add_btn {
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        width:70px;
        .btn {
            position: absolute;
            top:50%;
            margin-top:-15px;
        }
    }
}


.modal_change {
    .control {
        padding:10px;
        background-color:#f7f8fa;
        border-bottom:solid 1px #000;
        // overflow: hidden;
        .contorl_select {
            display:inline-block;
            width:25%;
            vertical-align:top;
        }
        .control_search {
            display:inline-block;
            width:38%;
            margin-left:2%;
            overflow: hidden;
            vertical-align:top;
            .control_search_select {
                width:40%;
                float:left;
            }
            .control_search_input {
                width:58%;
                margin-left:2%;
                float:left;
            }
        }
        .control_input {
            display:inline-block;
            width:35%;
            margin-left:2%;
            vertical-align:top;
            .control_txt_input {
                width:60%;
                float:left;
            }
            .control_txt_button {
                width:38%;
                margin-left:2%;
                float:left;
            }
        }
        margin-bottom:20px;
    }
    .change_view {
        overflow: hidden;
        .push, .pop {
            width:49%;
            float:left;
        }
        .pop {
            margin-left:2%;
        }
        .title {
            display:block;
            font-weight:500;
            font-size:14px;
            color:#000;
            line-height:34px;
            em {
                color:#5867dd;
                font-style:normal;
                margin-left:2px;
            }
        }
        .list {
            height:300px;
            list-style-type:none;
            padding:10px;
            border:solid 1px #ebedf2;
            margin:0;
            overflow-y:auto;
            li {
                position: relative;
                padding-left:24px;
                line-height:26px;
            }
            a {
                font-size:12px;
                font-weight:300;
                color:#898b96;
                em {
                    color:#000;
                    font-style:normal;
                    font-weight:500;
                    
                }
                i {
                    position: absolute;
                    left:0;
                    top:4px;
                    font-size:20px;
                    color:#2e40d4;
                    text-decoration:none;
                    &.la-minus-square {
                        color:#f4516c;
                    }
                }
                &:hover {
                    color:#2e40d4;
                    em {
                        color:#2e40d4;
                    }
                }
            }
        }
    }
}
.change_view_caption {
    margin:8px 0 40px;
    font-size:12px;
    font-weight:300;
    color:#898b96;
    i {
        position: relative;
        top:2px;
        margin-right:2px;
    }
}

.modal_choice {
    .control {
        padding:10px;
        background-color:#f7f8fa;
        border-bottom:solid 1px #000;
        text-align:center;
        .control_input {
            width:100%;
            .label {
                display:inline-block;
                vertical-align:middle;
                line-height:40px;
                margin-right:15px;
            }
            .control_txt_input {
                width:40%;
                display:inline-block;
                vertical-align:top;
                margin-right:5px;
            }
            .control_txt_button {
                display:inline-block;
                vertical-align:top;
            }
        }
        margin-bottom:20px;
    }
    .change_view {
        height:300px;
        overflow-y:auto;
        overflow-x:hidden;
        dl {
            border-top:solid 1px #ebedf2;
            margin:0;
            &:first-child {
                border:0;
                dt {
                    margin-top:0;
                }
            }
            dt {
                margin-top:15px;
            }
            dd {
                padding-left:30px;
            }
        }
        label {
            font-weight:400;
        }
    }
}

.invoice_info {
    position: absolute;
    top:68px;
    right:20px;
    width:200px;
    overflow: hidden;
    dt {
        width:50px;
        line-height:25px;
        font-weight:500;
        float:left;
    }
    dd {
        width:150px;
        float:left;
        input {
            padding:0 8px;
            height:25px;
        }
        .input-group-text {
            padding-left:5px;
            padding-right:5px;
        }
    }
}

.date_x2 {
    display:inline-block;
    vertical-align:top;
    margin:0 10px 20px;
}

.invoice {
    padding-top:40px;
}
.invoice_head {
    margin-bottom:50px;
    .logo {
        margin-top:45;
    }
    .indent {
        font-weight:300;
        margin-left:20px;
    }
    .indent + dd {
        width:130px;
    }
    p {
        em {
            display:inline-block;
            font-style:normal;
            font-size:26px;
        }
        span {
            display:inline-block;
            font-weight:400;
            font-size:13px;
            margin-left:5px;
        }
    }
}

.date_wrap {
    .datepicker {
        margin:0 auto;
    }
}

.m-accordion .m-accordion__item .m-accordion__item-body>span, 
.m-accordion .m-accordion__item .m-accordion__item-body .m-accordion__item-content {
    padding:10px;
}

.table_msg {
    display:inline-block;
    background-color:#5867dd;
    color:#fff;
    padding:0 12px;
    border-radius:5px;
    margin:0 10px;
    font-size:12px;
    font-weight:400;
    &:first-child {
        margin-left:0;
    }
}

.label_form {
    .txt {
        display:inline-block;
        width:80px;
        vertical-align:top;
    }
    .m-input {
        display:inline-block;
        width:140px;
        vertical-align:top;
    }
    .btn {
        height:26px;
        line-height:26px;
        padding:0 5px;
        vertical-align:top;
    }
}

.m-accordion.m-accordion--default .m-accordion__item {
    margin-bottom:10px;
    .m-accordion__item-head {
        padding:8px 15px;
    }
}

.tab_area {
    .tit {
        display:block;
        font-size:12px;
        font-weight:400 !important;
        margin:0;
        background-color:#f7f8fa;
        color:#575962;
        padding:5px 10px;
        border: 1px solid #ebedf2;
    }
    .tab_area_nav {
        list-style-type:none;
        padding:0;
        margin-top:10px;
        li {
            display:inline-block;    
        }
    }
}

.modal_tab_item {
    margin-bottom:60px;
    .table_top {
        margin:20px 0;
        .controller {
            top:-5px;
        }
    }
    .form_table {
        th, td {
            padding:5px 10px !important;
            border:0;
            border-top: 1px solid #ebedf2;
            border-bottom: 1px solid #ebedf2;
            font-size:12px;
            .btn {
                float:right;
            }
        }
    }
}

.btn_select {
    display:inline-block;
    margin-left:20px;
    .select_list {
        list-style-type: none;
        padding:0;
        display:inline-block;
        vertical-align:middle;
        margin:0;
        margin-left:10px;
        li {
            display:inline-block;
            margin-right:15px;
        }
        .btn_del {
            display:inline-block;
            font-size:0;
            margin-left:5px;
            border:solid 1px #f4516c !important;
            text-decoration:none;
            line-height:0px;
            i {
                display:block;
                font-size:12px;
            }
        }
    }
}

.table_memo {
    table {
        border-top: 1px solid #f4f5f8;
    }
    td {
        border:0;
        border-bottom: 1px solid #f4f5f8;
    }
    thead {
        th:nth-child(1) { width:20% !important; }
        th:nth-child(2) { width:50% !important; }
        th:nth-child(4) { width:15% !important; }
        th:nth-child(5) { width:15% !important; }
    }
    tbody {
        td:nth-child(1) { width:20% !important; }
        td:nth-child(2) { width:50% !important; }
        td:nth-child(4) { width:15% !important; }
        td:nth-child(5) { width:15% !important; }
        overflow-y: scroll !important;
    }
}

.table_memo_wrtie {
    position: relative;
    margin-bottom:20px;
    textarea {
        width:90%;
    }
    .btn {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        width:calc(10% - 5px);
    }
}

.sel_b {
    position: relative;
    .tab_list {
        width:60%;
    }
    .opt_table {
        position: absolute;
        top:40px;
        right:0;
        width:38%;
        border-left:solid 1px #000;
        padding-left:20px;
    }
}

.sel_c {
    position: relative;
    .table_scroll_y .table tbody {
        height:200px;
    }
    .tab_list {
        width:50%;
    }
    .opt_table {
        .modal_form,
        .form_table,
        .form-control {
            height:100%;
        }
        position: absolute;
        top:0px;
        bottom:0;
        right:0;
        width:50%;
        padding-left:20px;
        th {
            width:100px !important;
            color:#000;
            font-size:14px;
        }
        td {
            width:300px !important;
        }
    }
}

.tab_list {
    th, td {
        font-size:12px;
        padding:8px 0 !important;
        width:100px !important;
        vertical-align:middle !important;
        .btn {
            padding:2px 5px !important;
        }
    }
    .m-checkbox {
        top:-5px;
        padding-left:18px;
    }
}

.modal_table {
    th {
        width:140px !important;
    }
    .form_cont {
        width:300px;
    }
}
.tab_table {
    .red_dot {
        color:#f4516c !important;
    }
    .input-group-append {
        a {
            height:26px;
            line-height:26px;
            padding:0 10px;
            font-size:12px;
        }
    }
}
.tab_table_nav {
    list-style-type: none;
    padding:0;
    li {
        display: inline-block;
        border:solid 1px #5867dd;
        margin-bottom:5px;
        &.active {
            a {
                background-color:#5867dd;
                color:#fff;
            }
        }
        a {
            display:block;
            padding:5px 10px;
            text-decoration:none;
            &:hover {
                background-color:#5867dd;
                color:#fff;
            }
        }
    }
}


.profile_icon {
    .icon {
        background-color:#fff;
        padding:5px;
        font-size:24px;
        color:#333;
    }
    .txt {
        display:inline-block;
        line-height:34px;   
        vertical-align:top;
        margin-left:10px;
        color:#fff;
        font-weight:400;
        letter-spacing:0.075em;
    }
    .fa {
        display:inline-block;
        color:#fff;
        font-size:20px;
        vertical-align:middle;
        line-height: 34px;
        margin-left:10px;
        margin-top:1px;
    }
}

.m-dropdown--open {
    .profile_icon {
        .fa:before {
            content: "\f106";
        }
    }
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__header {
    padding:10px;
    .m-card-user__name {
        line-height:30px;
    }
}

#footLogo {
    margin-bottom:10px;
}

.m-footer__copyright {
    display:block;
    width:1000px !important;
    .addr_item {
        display:inline-block;
        &:first-child {
            &:before {
                content:none;
            }
        }
        &:before {
            content:"|";
            margin:0 5px;
        }
    }
    .copy {
        display:block;
        font-weight:400 !important;
        line-height:24px;
        opacity:0.5;
    }
}

.m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-aside-right, .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-wrapper {
    margin-bottom:145px;
}
.m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-footer {
    margin-top:-145px;
}

.m-footer {
    padding-top:12px;
    height:145px;
}


.m-stack__item--left {
    overflow: hidden;
}

@media (max-width: 1024px) {
    .m-footer__copyright {
        display:block;
        width:100% !important;
    }
}

// 로그인 폼
.login_form {
    width:350px;
    margin:0 auto;
    .login_title {
        margin:100px auto 25px;
        img {
            display:block;
            margin:0 auto;
        }
    }
    .sub_title {
        font-size:16px;
        text-align:center;
        color:#5867dd;
        margin-bottom:40px;
    }
    .login_field {
        padding-bottom:100px;
        legend {
            display:none;
            text-indent:-9999px;
        }
        .login_input_a {
            display:block;
            width:100%;
            height:48px;
            line-height:48px;
            font-size:14px;
            border-top:0;
            border-left:0;
            border-right:0;
            margin-bottom:10px;
            padding-left:5px;
        }
        .btn_submit {
            display:block;
            width:100%;
            font-size:16px;
            margin-top:30px;
        }

        .login_opt {
            overflow: hidden;
            .login_opt_item {
                margin-top:25px;
                float:left;
                &.check {
                    .check_icon {
                        position: relative;
                        display:inline-block;
                        width:20px;
                        height:20px;
                        border-radius:100%;
                        background-color:#333;
                        vertical-align:top;
                        i {
                            display:none;
                            position: absolute;
                            left:5px;
                            top:5px;
                            color:#fff;
                            font-size:10px;
                        }
                    }
                    input {
                        display:none;
                        &:checked + label .check_icon i {
                            display:block;
                        }
                    }
                    label {
                        cursor: pointer;
                        .txt {
                            display:inline-block;
                            vertical-align:top;
                            line-height:20px;
                            margin:0;
                            margin-left:5px;
                        }
                    }
                }
                &.link {
                    display:block;
                    a {
                        color:#333;
                    }
                    float:right;
                }
            }
        }
    }
}


.member_form {
    width:1200px;
    margin:0 auto;
    .title {
        margin:60px auto 30px;
        img {
            display:block;
            margin:0 auto;
        }
    }
    .form_title {
        margin:60px 0 15px;
        font-size:18px;
    }
    .step_list {
        position: relative;
        background-color:#f2ebd5;
        text-align:center;
        padding:35px 0;
        &:after {
            content:"";
            position: absolute;
            top:50px;
            left:50%;
            width:430px;
            margin-left:-215px;
            height:1px;
            background-color:#c4ac7b;
            z-index:5;
        }
        .step {
            position: relative;
            z-index:10;
            display:inline-block;
            width:100px;
            margin:0 50px;
            .number {
                display:block;
                width:30px;
                height:30px;
                line-height:30px;
                color:#c4ac7b;
                margin:0 auto;
                font-style: normal;
                background-color:#fff;
                border-radius:100%;
            }
            &.active {
                .number {
                    background-color:#c4ac7b;
                    color:#fff;
                }
            }
            .txt {
                display:block;
                margin-top:10px;
                color:#c4ac7b;
            }
        }
    }
    .member_field {
        margin:50px;
        .field_tit {
            display:block;
            font-size:14px;
            margin:20px 0 30px;
            border-bottom:solid 1px #333;
            strong {
                display:block;
                font-size:16px;
                margin-bottom:5px;
            }
            p {
                font-size:12px;
                color:#666;
            }
        }
        .member_table {
            margin-bottom:50px;
            th {
                width:150px;
            }
            th, td {
                position: relative;
                padding:15px 0;
            }
            td {
                width:350px;
            }
            .opt_txt {
                display:block;
                margin-top:5px;
                color:#fd397a;
            }
            .m-input {
                padding-right:120px;
            }
            .set_email {
                position: absolute;
                top:25px;
                right:20px;
            }
        }
    }
    .complete_msg {
        text-align:center;
        strong {
            display:block;
            font-size:18px;
            color:#333;
        }
        span {
            display:block;
            margin:5px 0 30px;
        }
        border-bottom:solid 1px #ddd;
    }
    .cs_info {
        margin:30px 0 50px;
        overflow: hidden;
        .cs_box {
            background-color:#eee;
            padding:20px;
            width:525px;
            height:170px;
            margin-left:50px;
            float: left;
            &:first-child {
                margin-left:0;
            }
            dt {
                color:#333;
                margin-bottom:10px;
            }
            dd {
                position: relative;
                line-height:34px;
                margin:0;
                button {
                    margin-left:10px;
                }
                &:before {
                    content: "";
                    display:inline-block;
                    width:2px;
                    height:2px;
                    background-color:#333;
                    vertical-align:middle;
                    margin-right:8px;
                }
                &.add_list {
                    &:before {
                        content:none;
                    }
                    ul {
                        list-style-type:none;
                        padding:0;
                        li {
                            margin:0;
                            line-height:24px;
                        }
                    }
                    i {
                        position: absolute;
                        right: 0;
                        bottom: -50px;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

.login_out {
    padding:100px;
    height:500px;
    background-color:#f7f8fa;
    text-align:center;
    strong {
        display:block;
        font-weight:normal;
        text-align:center;
        font-size:30px;
    }
    p {
        margin-top:30px;
        font-size:14px;
        font-weight:normal;
        text-align:center;
        line-height:24px;
    }
    button {
        margin-top:30px;
    }
}

// 아코디언 화살표 색깔
.m-accordion.m-accordion--bordered .m-accordion__item .m-accordion__item-head .m-accordion__item-mode, 
.m-accordion.m-accordion--default .m-accordion__item .m-accordion__item-head .m-accordion__item-mode {
    color:#fff;
}

// 예약정보 아코디언 컬러
// 요약 정보1
.m-accordion .custom_color_a {
    border: 1px solid #000 !important;
}
.m-accordion .custom_color_a .m-accordion__item-head, 
.m-accordion .custom_color_a .m-accordion__item-head:hover {
    background-color: #000 !important;
}
.m-accordion .custom_color_a .m-accordion__item-head>span {
    color:#fff;
}

// 요약 정보2
.m-accordion .custom_color_b {
    border: 1px solid #36a3f7 !important;
}
.m-accordion .custom_color_b .m-accordion__item-head, 
.m-accordion .custom_color_b .m-accordion__item-head:hover {
    background-color: #36a3f7 !important;
}
.m-accordion .custom_color_b .m-accordion__item-head>span {
    color:#fff;
}

// 요약 정보3
.m-accordion .custom_color_c {
    border: 1px solid #c4ac7b !important;
}
.m-accordion .custom_color_c .m-accordion__item-head, 
.m-accordion .custom_color_c .m-accordion__item-head:hover {
    background-color: #c4ac7b !important;
}
.m-accordion .custom_color_c .m-accordion__item-head>span {
    color:#fff;
}

// 예약 정보
.m-accordion .custom_color_d {
    border: 1px solid #f4516c !important;
}
.m-accordion .custom_color_d .m-accordion__item-head, 
.m-accordion .custom_color_d .m-accordion__item-head:hover {
    background-color: #f4516c !important;
}
.m-accordion .custom_color_d .m-accordion__item-head>span {
    color:#fff;
}



// 블루
.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: #5867dd !important;
    border-color: #5867dd !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #384ad7 !important;
    border-color: #2e40d4 !important;
}
// 기본
.btn.btn-default, .btn.btn-secondary {
    background: #fff !important;
    border-color: #ebedf2 !important;
}
.btn.btn-secondary:hover:not(:disabled) {
    border-color: #ebedf2 !important;
    background-color: #f4f5f8 !important;
}
// 레드
.btn-danger {
    color: #fff !important;
    background-color: #f4516c !important;
    border-color: #f4516c !important;
}
.btn-danger:hover {
    color: #fff !important;
    background-color: #f22d4e !important;
    border-color: #f12143 !important;
}