@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900');
// font-family: 'Noto Sans KR', sans-serif;


// COMMON
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}


// bootstrap Custom
.m-subheader .m-subheader__title {
    font-family: 'Noto Sans KR', sans-serif;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}
.m-portlet__foot {
    text-align:center;
    button {
        margin:0 5px;
    }
}
select.form-control {
    padding:0 1.15rem;
}

.col_max_mid {
    max-width:1200px;
}

.m-aside-menu .m-menu__nav>.m-menu__section .m-menu__section-text {
    font-size:1.0rem;
}
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, 
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    font-size:1.2rem;
}


.m-portlet__head-text {
    .opt {
        position: absolute;
        top:0;
        right:35px;
        height:66px;
        line-height:66px;
        display:block;
        i {
            position: absolute;
            top:0px;
            left:-15px;
            display:inline-block;
            font-size:14px;
            margin:4px 8px 0 0;
        }
        em {
            font-style:normal;
            font-size:12px;
            font-weight:400;
            color:#7b7e8a;
        }
    }
}


.nav_tab_link {
    width:100%;
    padding:0;
    font-size:0;
    border:solid 1px #dee2e6;
    .tab_item {
        display:inline-block;
        vertical-align:middle;
        // height:45px;
        // line-height:45px;
        text-align:center;
        box-sizing:border-box;
        background-color:#fff;
        padding:0;
        a {
            display:block;
            font-size:16px;
            font-weight:400;
            padding:12px 0;
            color:#575962;
            text-decoration:none;
        }
        &.active {
            background-color:#5867dd;
            border-color:#5867dd;
            a {
                color:#fff;
            }
        }
    }
}

.inp_inline_wrap {
    display:inline-block;
    vertical-align:top;
    font-size:0;
    .inp_label {
        display:inline-block;
        vertical-align:middle;
        line-height:40px;
        margin-right:10px;
    }
    .inp_inline {
        display:inline-block;
        vertical-align:top;
        box-sizing:border-box;
        margin-left:5px;
        &.x2 {
            width:40%;
            margin-left:2%;
        }
        &.x3 {
            width:32%;
            margin-left:2%;
        }
        &.x4 {
            width:22%;
            margin-left:2%;
        }
        &.x5 {
            width:20%;
            margin-left:2%;
        }
        &.x6 {
            width:11%;
            margin-left:1%;
        }
        &.x7 {
            width:5%;
            margin-left:1%;
            .txt {
                margin:0;
            }
        }
        &:first-child {
            margin-left:0;
        }
        &.ma_sm {
            margin-left:1% !important;
        }
        &.ma_lm {
            margin-left:20px !important;
        }
        .txt {
            display:block;
            font-size:14px;
            vertical-align:middle;
            font-weight:bold;
            text-align:center;
            line-height:40px;
            margin:0 5px;
        }
    }
    .m-radio-inline, .m-checkbox-inline {
        margin-top:10px !important;
    }
}

.form_search {
    border:1px solid #ebedf2;
    border-top:solid 1px #000;
    padding:30px 20px;
    .inp_inline_wrap {
        margin:0 20px 20px 0;
        &:last-child {
            margin:0;
        }
        // .inp_label {
        //     display:inline-block;
        //     vertical-align:middle;
        //     line-height:40px;
        //     margin-right:10px;
        // }
        select {
            min-width:100px;
        }
    }
}
.search_btn {
    border-top:1px solid #ebedf2;
    text-align:right;
    padding-top:20px;
    .btn_list {
        display:inline-block;
        vertical-align:top;
        margin:0 5px;
    }
}

.form_wrap {
    
}
.form_fieldset {
    margin-bottom:30px;
    &>.row:first-child {
        border-top:1px solid #000;
    }
    .form_item {
        border-bottom:1px solid #ebedf2;
        .title {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight:500;
            font-size:14px;
            line-height:41px;
            background-color:#f7f8fa;
            padding-top:10px;
            padding-bottom:10px;
        }
        .cont {
            position: relative;
            font-family: 'Noto Sans KR', sans-serif;
            font-size:14px;
            line-height:41px;
            padding-top:10px;
            padding-bottom:10px;
            .input_unit {
                width:80%;
            }
            .unit {
                position: absolute;
                top:0;
                right:15%;
                width:5%;
                line-height:41px;
                padding-top:10px;
            }
            &.form_radio {
                padding-top:0;
                padding-bottom:0;
                label {
                    display:block;
                    line-height:19px;
                    margin:7px 0 0;
                } 
                &.radio_inline {
                    label {
                        display:inline-block;
                        line-height:19px;
                        margin:20px 5px 0;
                    } 
                    .m-input {
                        display:inline-block;
                        width:50%;
                        margin-left:10px;
                    }
                }
            }
            .form_url {
                .first {
                    display:inline-block;
                    width:50px;
                }
                .last {
                    display:inline-block;
                    width:100px;
                    margin-left:5px;
                }
                input {
                    display:inline-block;
                    width:50%;
                }
            }
        }
    }

    .form_legend {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:500;
        font-size:16px;
        line-height:41px;
        padding:0;
        margin-left:-10px;
        & + .row {
            border-top:solid 1px #000;
        }
    }
    .btn_opt {
        margin-top:15px;
        margin-right:-15px;
        margin-left:25px;
        float:right;
    }
}

.dot_red {
    color:#f4516c !important;
}

hr {
    &.hide {
        border:0;
        margin:40px 0;
    }
}

.table_layout {
    overflow: auto;
}
.table_default {
    table-layout: fixed;
    width:100%;
    min-width:640px;
    .table_date { width:20%; }
    .table_cont { width:80%; }
    .table_use { width:20%; }
    .table_name { width:30%; }
    .table_div { width:10%; }
    thead th {
        background-color:#f7f8fa;
        border-bottom:1px solid #ebedf2;
        text-align:center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:500;
        font-size:16px;
        padding:15px 20px;
    }
    tbody th {
        text-align:center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:500;
        font-size:14px;
        border-bottom:1px solid #ebedf2;
    }
    td {
        text-align:center;
        border-bottom:1px solid #ebedf2;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight:400;
        font-size:14px;
        padding:15px 20px;
        .m-radio {
            margin:0;
        }
    }
    &.v_top {
        td {
            vertical-align:top;
        }
    }
    &.t_btn {
        td {
            position: relative;
            padding-bottom:60px;
            .btn {
                position: absolute;
                bottom:20px;
                left:50%;
                margin-left:-55px;
            }
        }
    }
    &.menu_select {
        label {
            width:19px;
            height:19px;
            padding:0;
            margin:0;
        }
        td {
            text-align:left;
            &.cate_2 {
                text-indent:25px;
            }
        }
    }
}


.text_cut {
    display:block;
    width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file_list {
    margin:0;
    padding:20px 0 40px;
    li {
        margin-top:5px;
        text-align:left;
        list-style-type:none;
        &:first-child {
            margin:0;
        }
        .btn_del {
            display:inline-block;
            font-size:0;
            margin-left:10px;
            border:solid 1px #f4516c !important;
            text-decoration:none;
            i {
                display:block;
                font-size:12px;
            }
        }
    }
}

.user_list {
    margin:0;
    li {
        margin-top:5px;
        text-align:left;
        list-style-type:none;
        &:before {
            content:"-";
            margin-right:5px;
            font-weight:bold;
        }
        &:first-child {
            margin:0;
        }
        .btn_del {
            display:inline-block;
            font-size:0;
            margin-left:5px;
            border:solid 1px #f4516c !important;
            text-decoration:none;
            i {
                display:block;
                font-size:12px;
            }
        }
    }
}

.name_list {
    margin:0;
    padding:0;
    li {
        list-style-type: none;
        margin:0;
        padding:0;
        line-height:22px;
        padding:10px 0;
        margin:0 15px;
        border-top:dashed 1px #a3a3a3;
        &:first-child {
            margin-top:0;
            border-top:0;
        }
    }
    .position, .email, .tel {
        display:block;
        color:#a3a3a3;
        font-size:12px;
    }
    .name {
        display:block;
        color:#000;
        font-size:14px;
    }
}


.table_tab {
    padding:0;
    margin:0;
    // border-bottom:solid 1px #ebedf2;
    overflow: hidden;
    li {
        border:1px solid #ebedf2;
        // border-bottom:0;
        list-style-type: none;
        line-height:35px;
        margin-right:5px;
        float:left;
        a {
            display:block;
            text-decoration:none;
            color:#575962;
            padding:0 25px;
        }
        &.active {
            background-color:#5867dd;
            a {
                color:#fff;
            }
        }
    }
}

.table_top {
    position: relative;
    margin-top:20px !important;
}
.controller {
    position: absolute;
    top:-10px;
    right:0;
    .form-control {
        height:31px;
        line-height:31px;
    }
}

.table_middle {
    th, td {
        vertical-align:middle;
        text-align:center;
        // padding:5px 0;
    }
}

.table_scroll_x {
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    .table {
       table-layout: fixed;
       border-bottom:solid 1px #afafaf;
       margin:0;
       th {
           width:100px;
       }
    }
}
.table_scroll_y {
    .table {
        border-collapse:collapse; 
        width:100%;
        border-bottom:solid 1px #afafaf;
        margin:0;
        th, td {
            width:100px;
        }
        thead {
            float:left; 
            width:100%;
            padding-right:20px;
        }
        tbody {
            overflow-y:auto; 
            overflow-x:hidden; 
            float:left; 
            width:100%;
            height:300px;
        }
        tr {
            display:table; 
            width:100%;
        }
    }
}

.table_scroll_xy {
    width:100%;
    height:300px;
    overflow: auto;
    .table {
       table-layout: fixed;
       border-bottom:solid 1px #afafaf;
       margin:0;
       th {
           width:100px;
       }
    }
}

.pager_center {
    text-align:center;
    margin-bottom:60px;
}



.table_x2 {
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;

    table {
        border-bottom:solid 1px #afafaf;
    }
    &.x1500 {
        table {
            width:1500px;
            table-layout: fixed;
        }
    }
    td, th {
        text-align:center;
        padding:5px 0;
    }
}

.table_wrap {
    table {
        width:100%;    
    }
    .caption {
        margin-bottom:10px;
        em {
            color:#f4516c;
            font-style:normal;
            font-weight:bold;
        }
        .txt {
            display:inline-block;
            margin-right:12px;
            vertical-align:middle;
        }
        button {
            i {
                display:inline-block;
                vertical-align:middle;
                margin:-4px 4px 0 0;
            }
        }
    }
    td, th {
        text-align:center;
        padding:10px 0;
    }
    thead {
        th {
            background-color:#f7f8fa;
            border:1px solid #ebedf2;
            min-width:50px;
        }
    }
    tbody {
        td {
            padding:10px 0;
            border-bottom:1px solid #ebedf2;
            em {
                color:#36a3f7;
                font-style:normal;
            }
        }
    }
    &.box {
        td {
            border:1px solid #ebedf2;
            em {
                color:#f4516c;
                font-style:normal;
            }
        }
    }
    .td_list {
        padding:0;
        ul {
            list-style-type:none;
            margin:0;
            padding:0;
        }
        li {
            border-top:1px solid #ebedf2;
            line-height:40px;
            &:first-child {
                border-top:0;    
            }
        }
    }
}

// Modal
.modal_default {
    width:100%;
    background-color:#fff;
    padding:0 30px;
    .modal_head {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:68px;
        background-color:#fff;
        .title {
            font-size:24px;
            line-height:68px;
            text-align:center;
        }
        .close {
            position: absolute;
            top:10px;
            right:15px;
        }
    }
    .scroll_content {
        border-top:solid 1px #000;
        padding:30px 0;
        line-height:1.8em;
        overflow-y: auto;
        overflow-x:hidden;
        
    }
    .modal_content {
        padding-top:68px;
    }
    .modal_foot {
        height:80px;
        border-top:solid 1px #000;
        .modal_btn {
            text-align:center;
            padding:20px 0;
            .btn {
                margin:0 2px;
            }
        }
    }
    &.size_fix {
        position: absolute;
        top:50%;
        left:50%;
        width:600px;
        height:580px;
        margin:-290px 0 0 -300px;
        border:solid 1px #d6d6d6;
        .scroll_content {
            width:538px;
            height:400px;
        }
        .modal_foot {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
        }
    }
}

.msg_form {
    padding:0 0 30px 0;
    .msg_title {
        font-size:14px;
        font-weight:400;
        padding:20px;
        text-align:center;
    }
    .btn_form {
        overflow: hidden;
        .m-input {
            width:calc(100% - 100px);
            float:left;
        }
        .btn {
            width:90px;
            margin-left:10px;
            float:left;
        }
    }
}

.modal_board {
    .modal_head {
        background-color:#5867dd;
        color:#fff;
        padding:10px;
        .title {
            font-size:14px;
            margin:0;
        }
        .close {
            position: absolute;
            top:10px;
            right:15px;
            color:#fff !important;
        }
    }
    .modal_content {
        padding:15px;
    }
    &.size_fix {
        position: absolute;
        top:50%;
        left:50%;
        width:600px;
        // height:580px;
        margin:-290px 0 0 -300px;
        border:solid 1px #d6d6d6;
        .scroll_content {
            width:538px;
            // height:400px;
        }
        .modal_foot {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
        }
    }
}
.modal_search {
    padding-bottom:15px;
    text-align:right;
    .inp_inline_wrap {
        width:100%;
    }
}